@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Primary (Logo ana rengi) */
    --color-primary: #6b1f1f;       /* koyu bordo */
    --color-primary-dark: #4a1414;  /* daha koyu */
    --color-primary-light: #8a2c2c; /* daha açık */
  
    /* Secondary (destekleyici tonlar) */
    --color-secondary: #2b2b2b;     /* koyu gri / siyaha yakın */
    --color-secondary-light: #444444;
  
    /* Neutral / White */
    --color-white: #ffffff;
    --color-off-white: #f5f5f5;
  
    /* Text */
    --color-text-primary: #1a1a1a;
    --color-text-on-primary: #ffffff;
    --color-text-muted: #777777;
  
    /* Border & UI */
    --color-border: #e5e5e5;
    --color-shadow: rgba(0, 0, 0, 0.15);
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }